<table id="pricetable" *ngIf="priceTableVisible">
  <thead><tr></tr></thead>
  <tbody>
  <tr>
    <td></td>
    <td *ngFor="let type of types" [className]="type.commodity.toLowerCase()">
      <div class="title">{{type.commodity}}</div>
      <br>
      <div class="subtitle">{{type.location}}</div>
    </td>
  </tr>
  <tr>
    <td>Price</td>
    <td *ngFor="let type of types" [className]="type.commodity.toLowerCase()">
      {{currentPrice(type.id)}}
    </td>
  </tr>
  <tr *ngFor="let player of players">
    <td>Player {{player}}</td>
    <td playerCommodity *ngFor="let type of types"
        class="player-commodity"
        [clicks]="clicks"
        id="{{type.id}}"
        player="{{player}}"
        value="{{sold(player, type.id)}}">
    </td>
  </tr>
  </tbody>
</table>

<table id="buttontable" *ngIf="buttonTableVisible">
  <tbody><tr>
    <td><button id="prevRound" (click)="prevRound()" [disabled]="round === 1">Previous Round</button></td>
    <td><button id="nextRound" (click)="nextRound()">End Round</button></td>
    <td *ngIf="round % 4 !== 0">Round {{round}}</td>
    <td class="winter" *ngIf="round % 4 === 0">{{round}} WINTER</td>
  </tr></tbody>
</table>

<table id="starttable" *ngIf="startTableVisible">
  <tbody>
  <tr><td><button (click)="start(1, 'normal')">Denver $30000 Solitaire</button></td><tr>
  <tr><td><button (click)="start(1, 'normal')">Denver $50000 Solitaire</button></td><tr>
  <tr><td><button (click)="start(1, 'slcsolo')">Salt Lake City $50000 Solitaire</button></td><tr>
  <tr><td><button (click)="start(1, 'denversolo')">Denver Campaign Solitaire</button></td><tr>
  <tr><td><button (click)="start(2, 'normal')">Golden Spike 2 Player</button></td><tr>
  <tr><td><button (click)="start(3, 'normal')">Golden Spike 3 Player</button></td><tr>
  <tr><td><button (click)="start(2, 'normal')">2 Player</button></td><tr>
  <tr><td><button (click)="start(3, 'normal')">3 Player</button></td><tr>
  <tr><td><button (click)="start(4, 'normal')">4 Player</button></td><tr>
  <tr><td><button (click)="start(5, 'normal')">5 Player</button></td><tr>
  <tr><td><button (click)="start(6, 'normal')">6 Player</button></td><tr>
  </tbody>
</table>
